@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import 'navbar.css';
@import 'imageStyling.css';

/*Typography
--------------------------------------------------------------*/

body {
	background-color: slategray;
}
button,
input,
select,
textarea {
	color: black;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  border: 3px solid black;
  background-color: #333333;
}

main {
	display: flex;
	justify-content: space-evenly;
	background-color: slategray;
}

h1 {
	display: flex;
	justify-content: center;
	color:white;
}

h2 {
	color: white;
	
}
.lists {
	display: contents;
}
.label {
	text-align: center;
}