nav {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  background-color: #333333;
  font-size: 25px;
}

nav a {
  color: white;
}

.nav_button {
  border: solid black 3px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  flex-basis: 225px;
}

.active {
  border-color: gold;
}